.form-label {
  font-weight: bold;
  font-size: 15pt;
}

.form-example {
  font-weight: 100;
  font-size: 13pt;
}

input[type=text] {
  padding: 10px;
  margin: 5px 10px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 14pt;
}

input:disabled {
  background: grey;
}

input[type='radio'] { 
  transform: scale(1.5); 
}

input {
  margin: 5px 10px 22px 0;
  font-size: 14pt;
}

input[type='radio'] {
  margin-right: 0px;
}

label.preset {
  margin-right: 10px;
  font-size: 14pt;
}